%footer
  %p
    = link_to 'How It Works', ''
    |
    = link_to 'Contact', ''
    |
    = link_to 'FAQ', ''
    |
    = link_to 'Feedback', ''
    |
    = link_to 'Blog', ''
  %p &copy; Gift Me Now 2012
  
