!!!
%html
  %head
    %meta{'htto-equiv' => 'content-type', :content => 'text/html', :charset => 'utf-8'}
    %meta{name: "viewport", content: "width=device-width, initial-scale=1.0"}
    %title= content_for?(:title) ? yield(:title) : "Giftmenow"
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    #wrapper
      #wrapper-inner
        #header.span12.zero-lmargin
          = render partial: 'shared/header'
        #content.span12.zero-lmargin
          = yield
        #footer.span12.zero-lmargin
          = render partial: 'shared/footer'
